# XII. Model Inferance

In [7]:
# Import Library
import pandas as pd
import numpy as np
import joblib
import sklearn.preprocessing

In [8]:
# Read all file
with open('scaler.pkl','rb') as file_1:
  scaler = joblib.load(file_1)

with open('pca_final.pkl','rb') as file_2:
  pca_final = joblib.load(file_2)

with open('km_final.pkl','rb') as file_3:
  km_final = joblib.load(file_3)

with open('windsoriser.pkl', 'rb') as file_4:
  windsoriser = joblib.load(file_4)

In [14]:
# Membuat DataFrame baru
df_inf = pd.DataFrame({
    'BALANCE':[16.581535],
    'PURCHASES':[200.0],
    'ONEOFF_PURCHASES':[0.0],
    'INSTALLMENTS_PURCHASES':[200.0],
    'CASH_ADVANCE':[0.0],
    'CASH_ADVANCE_TRX':[0],
    'PURCHASES_TRX':[2],
    'CREDIT_LIMIT':[1200.0],
    'PAYMENTS':[215.325023],
    'MINIMUM_PAYMENTS':[56.720210],
    'PRC_FULL_PAYMENT':[0.0]
})
df_inf

,BALANCE,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
0,16.581535,200.0,0.0,200.0,0.0,0,2,1200.0,215.325023,56.72021,0.0

In [15]:
# Feature Scaling 
inf_scaler = scaler.transform(df_inf)
inf_scaler

array([[-0.45934168, -0.1622217 , -0.059925  ,  0.20889805,  0.        ,
         0.        , -0.3125    , -0.36      , -0.43164699, -0.38327988,
         0.        ]])

In [16]:
# PCA predict
inf_pca = pca_final.transform(inf_scaler)

In [17]:
# Predict the model
y_pred_inf = km_final.predict(inf_pca)
y_pred_inf

array([0], dtype=int32)

- Setelah dilakukan clustering, dapat disimpulkan bahwa data inference termasuk kategori cluster 0